<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <style>
   
    .signoutBtn {
      background-color: white;
      color: rgb(255, 0, 0);
      border-radius: 15px;
      position: absolute;
      right: 40px;
      padding: 8px;
    }

    .addbtn {
      margin-right: 10px;
      background-color: rgba(62, 250, 5, 0.773);
      color: black;
      border-radius: 15px;
    }

    .delBtn {
      background-color: rgb(247, 33, 33);
      color: black;
      border-radius: 15px;
    }
  </style>
</head>

<body style="background-color:#62d6a2">

  
  <div>
    <section class="container" style="height: 100vh;">
      <div class="row py-5">
        <h2 class="ml-3">User Details <a class="ml-4" data-toggle="modal" data-target="#exampleModal">
            <button type="submit" class="addbtn btn btn-secondary btn1">Add-User</button>
          </a></h2>
       <form action="/searchUser" method="post">
        <div class="mt-1 input-group">
          <div class="form-outline">
            <input type="search" name="name" id="form1" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
          <a class="ml-5 btn btn-primary" href="/admin">Show All users</a>
        </div>
        </form>
        <a class="signoutBtn" href="/adminlogout">Sign Out</a>
      </div>
      <div class="text-center">
        <div class="row table-responsive col-lg-12">
          <table class="table table-bordered" style="width:100%" id="productsTable">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {{#if err}}
                <h1>Invalid User</h1>
              {{/if}}
              {{#each userData}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td><a class="btn btn-primary" data-toggle="modal" data-target="#edit{{this._id}}">Edit</a> &nbsp;</td>
                <td><a class="delBtn btn btn-primary" data-toggle="modal" data-target="#delete{{this._id}}">Delete</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>


  <!-- {{!-- modal-adduser --}} -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="text-dark" action="/admin-User-add" method="post">
            <div class="form-group">
              <label for="name" class="col-form-label">Name : </label>
              <input type="text" name="name" style="color: black;" class="border" id="name">
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email : </label>
              <input type="text" name="email" class="border" id="email">
            </div>
            <div class="form-group">
              <label for="mobile" class="col-form-label">Mobile Number : </label>
              <input type="tel" maxlength="10" name="mobile" class="border" id="mobile">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password : </label>
              <input type="text" name="password" class="border" id="password">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add User</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  {{!-- edit User --}}
  {{#each userData}}
  <div class="modal fade" id="edit{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="text-dark" action="/editUser/{{this._id}}" method="post">
            <div class="form-group">
              <label for="name" class="col-form-label">Name : </label>
              <input type="text" name="name" value="{{this.name}}" style="color: black;" class="border" id="name">
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email : </label>
              <input type="text" name="email" value="{{this.email}}" class="border" id="email">
            </div>
            <div class="form-group">
              <label for="mobile" class="col-form-label">Mobile Number : </label>
              <input type="tel" maxlength="10" value="{{this.mobile}}" name="mobile" class="border" id="mobile">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
              <a><button type="submit" class="btn btn-primary">confirm</button></a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  {{/each}}


  {{!-- Delete User --}}
  {{#each userData}}
  <div class="modal fade" id="delete{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to delete user <b class="text-dark">{{this.name}}</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
          <a href="/deleteUser/{{this._id}}" type="button" class="btn btn-danger">delete</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</body>

</html>